@model WebShop_S2.Models.OrderViewModel

@{
    ViewData["Title"] = "Order";
}

<h2>OrderID: @Model.Order.Id</h2>

<div>
    <hr />
    <div>
        <table id="TableHeader" class="table table-striped table-bordered">
            <thead>
            <tr>
                <td>Name</td>
                <td>Price</td>
            </tr>
            </thead>
            <tbody>
            @foreach (var itemGame in Model.Order.GameList)
            {
                <tr class="">
                    <td>@itemGame.Name</td>
                    <td>@itemGame.Price</td>
                </tr>
            }

            </tbody>
        </table>
    </div>
    <dl style="float:right" class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TotalPrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TotalPrice)
        </dd>
    </dl>
    <br/><br/>
</div>
<div>
    <a href="/Account/Account">Back to Profile</a>
</div>
