@model WebShop_S2.Models.AccountViewModel

@{
    ViewData["Title"] = "Profile";
}

<div id="ProfileInfo" class="col-md-3" style="border:outset;width:100%;margin-bottom:10%;margin-top:20px">
    <div class="">
        <img style="float:left;margin:5%;border:dashed;margin-right:5%;width:50px;height:50px;" alt="/images/NoIMG.png" src="~/images/NoIMG.png" class="img img-responsive profile-image">
        <h2 style="float:left;margin:5%" >@Model.Username</h2>
        <p style="float:right;margin:0;text-align:right"><a href="/Account/Edit/@Model.Id">Edit profile</a></p>
        <p style="float:right;margin:5%;text-align:center"><span class="glyphicon glyphicon-calendar"></span>@Model.Birthday.ToShortDateString()</p>
        <p style="float:right;margin:5%;text-align:center"><span class="glyphicon glyphicon-envelope"></span>@Model.Email</p>
    </div>
</div>

<div class="profile-box-content" style="float:left;width:30%;margin-right:5%">
    <h3>Orders</h3>
    <table id="TableHeader" class="table table-striped table-bordered">
        <thead>
            <tr>
                <td>ID</td>
                <td>Price</td>
                <td>Status</td>
            </tr>
        </thead>
        <tbody>
            @if (Model.Orders.Count == 0)
            {
                <tr class="">
                    <td>No Orders</td>
                    <td></td>
                    <td></td>
                </tr>
            }
            else
            {

                foreach (var item in Model.Orders)
                {
                <tr class="">
                    @using (Html.BeginForm("Order", "Order", new { order = @Model.Orders[item.Id] }, FormMethod.Post))
                    {
                        <td><input type="submit" value="X" /></td>
                    }
                    <td>@item.TotalPrice $</td>
                    <td>@item.OrderStatus</td>
                </tr>
                }
            }
        </tbody>
    </table>
</div>

<div class="profile-box-content" style="float:left;width:30%;margin-right:5%">
    <h3>Reviews</h3>
    <table id="TableHeader" class="table table-striped table-bordered">
        <thead>
            <tr>
                <td>ID</td>
                <td>Description</td>
                <td>Score</td>
            </tr>
        </thead>
        <tbody>
            @if (Model.Reviews.Count == 0)
            {
                <tr class="">
                    <td>No Reviews</td>
                    <td></td>
                    <td></td>
                </tr>
            }
            else
            {
                foreach (var item in Model.Reviews)
                {
                    <tr class="">
                        <td>@item.Title</td>
                        <td>@item.Description</td>
                        <td>@item.Score</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

<div class="profile-box-content" style="float:left;width:30%">
    <h3>Wishlist</h3>
    <table id="TableHeader" class="table table-striped table-bordered">
        <thead>
            <tr>
                <td>Item</td>
                <td>Date added</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            @if (Model.WishList.Count == 0)
            {
                <tr class="">
                    <td>No items found</td>
                    <td></td>
                    <td></td>
                </tr>
            }
            else
            {
                foreach (var item in Model.WishList)
                {
                    <tr class="">
                        <td>@item.Name</td>
                        <td>@item.ReleaseDate.ToShortDateString()</td>
                        @using (Html.BeginForm("RemoveWishList", "Order", new { id = @item.Id}, FormMethod.Post))
                        {
                            <td><input type="submit" value="X"/></td>
                        }
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

