@model WebShop_S2.Models.GameViewModel

@{
    ViewData["Title"] = "GamePage";
}

@{ var sessionName = new byte[20];
    var state = Context.Session.TryGetValue("_Name", out sessionName);
}

<link rel="stylesheet" type="text/css" href="/css/GamePage.css" />

<div>
    <div class="GameInfo">
        <div>
            <h2>@Model.Game.Name</h2>
            <ul>
                <li><p><span class="glyphicon glyphicon-calendar"></span> @Model.Game.ReleaseDate.ToShortDateString()</p></li>
                @*<li><p><span class="glyphicon glyphicon-star"></span>Score</p></li>*@
                <li><p>@Model.Game.GameTag</p></li>
            </ul>
            <hr />
            @if (state)
            {
                @using (Html.BeginForm("AddShoppingList", "Order", new { id = @Model.Game.Id }, FormMethod.Post))
                {
                    <input type="submit" value="ShoppingList" />
                }
                @using (Html.BeginForm("AddWishListItem", "Order", new { gameId = @Model.Game.Id }, FormMethod.Post))
                {
                    <input type="submit" value="WishList" />
                }
            }
        </div>

    </div>
    <div class="GamePic">
        <img alt="/images/NoIMG.png" src="">
    </div>
    @*<div style="margin-top:5%;width:20%;float:left">
            <h3>Reviews</h3>
            <h2 style="float:left">Name</h2>
            <h2 style="float:right">Score</h2>

            <p><h1 style="float:left">Description</h1></p>
        </div>*@
    <div class="GameDescription">
        @Model.Game.Description
    </div>
</div>
